Flask
Flask-Cors
Flask-SocketIO
werkzeug
inflect
numpy
python-engineio
python-socketio
requests
six
grpcio==1.65.4
nvidia-pyindex==1.0.9
nvidia-riva-client==2.17.0
tritonclient==2.50.0
pyaudio
six
gast
rasa
rasa[convert]